.container {
    padding-top: 2rem;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content {
    height: calc(100vh - 263px - 84px);
}

.content_white {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;
    margin: 0 auto;

    background: #ffffff;
}

.title {
    font-size: 35px;
    font-weight: 700;
    color: #000000;
}

.bill_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 0px;
    margin: 0 auto;
}

.bill_info{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    padding: 0px;
    margin: 0 auto;
}

.card_header {
    height: 5rem;
}

.card_body {
    height: 13rem;
}

.card {
    padding: 1rem;
}

.pro_card {
    background-color: #ecd1f8b7;
}

.pro_title {
    color: #7f17ab;
}

.button {
    color: #926dff;
}