.container_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.sub_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60vh;
    padding: 2rem;
    background-color: #ffffff;
    min-width: 40rem;
    border-radius: 1rem;
    overflow-y: auto;
}

.title {
    font-size: 1.8rem;
    font-weight: 700;
    color: #000000;
    padding-left: 0.5rem;
    text-align: left;
}

.invite_button {
    border: none;
    padding: 0rem;
    margin-right: 1rem;
    background-color: #f5f5f5;
    cursor: pointer;
}

.waitting_tile {
    font-size: 1.3rem;
    color: #000000;
    text-align: left;
    padding-bottom: 1.5rem;
}

.waiting_member {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid #ccc;
}

.member_info {
    display: flex;
    align-items: center;
}

.member_buttons {
    display: flex;
    gap: 1rem;
}

.accept_button {
    padding: 0.5rem 1rem;
    background-color: #9DC0FA;
    color: #ffffff;
    cursor: pointer;
}

.reject_button {
    padding: 0.5rem 1rem;
    background-color: #fc9393;
    color: #ffffff;
    cursor: pointer;
}