.logo {
    width: 111px;
    height: 24px;

    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 24px;
    letter-spacing: -0.06em;
    color: #1D2830;
}

.nav_content {
    padding: 0 3rem;
}

.nav_item_text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #35414B;
    padding: 0 2rem;
}

.navItemIcon {
    width: 14px;
    height: 8px;
    background: #FFFFFF;
}

.nav_end_content_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.text_button {
    box-sizing: border-box;
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;
    background: none;
    color: black;
    border: none;
}

.button {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    width: 8rem;
    min-width: 8rem;

    border: none;
    background-color: #e4d5fe;
    color: #926dff;
}

.text_button p {
    padding: 1rem;
}

.text_button a {
    padding: 1rem;
}

.button a {
    padding: 1rem 2rem 1rem 2rem;
}

.button:hover {
    background-color: #D9C3FF;
}